* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
 

}

body {
  background-color:black;
  overflow-x: hidden;
}
.logo{
  width: 90px;
  height: 50px;
  margin-left: 20px;
}
.logo img{
  width: 100%;
  height: 100%;
}
header {
  background-color: rgba(55, 54, 53,0.5);
  position: sticky;
  top: 0;
  padding: 5px 10px;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.nav-button{
    display: none;
  }
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  position:relative;
  margin: 20px;

}
.navbar a::after{
  content: "";
  background-color: #FFFFFF;
  height: 1.5px;
  width: 0;
  position: absolute;
  left: 0px;
  bottom: -1px;
  transition: 0.5s;
}
a:hover:after{
  width: 100%;
  left:0px;
  

}

.h2 {
  font-size: 100px;
}

.div {
  display: flex;
  align-items: center;
}

.hi {
  color: white;
  display: flex;
  width: 90vw;
  margin: 0 auto;
  gap: 100px;
  flex-wrap: wrap;
  height: 100%;
}

.img1 {

  width: 500px;
  margin-top: 50px;
  border-radius: 5px;


}

.h1 {
  font-size: 70px;
  width: 5px;


}

.img2 {
  height: 400px;
  width: 350px;
  border-radius: 5px;
}

.about-me {
  justify-content: center;
  justify-content: space-evenly;
  color: white;
  display: flex;
  flex-wrap: wrap;

}
.about-p{
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #fee5b5;
  font-size: 20px;
}
.about-p::before,.about-p::after{
 content:"";
 height: 3px;
 width: 30px;
 background-color: #FFFFFF;
}
.about-me h1 {
  font-size: 60px;
  text-decoration: underline white 2px;

}

.about-me p {
  letter-spacing: 1;
  line-height: 1.5;
  margin-top: 30px;
  width: 700px;
  font-size: 22px;

}
.icons3{
  margin-top: 30px;
}
.about-text{
padding-top: 50px;
padding-bottom: 60px;
}

.icons3 i{
  margin:20px;
  font-size: 23px;
  color:black;
  padding: 10px;
  background-color: #fee5b5;
  border-radius: 10px;
}

.about-me-h2{
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 75px;
  
}
.about-me h2{
  font-size: 25px;
 color: #ffbd39;
 margin-top: 70px;

}


.span1{
  color:#ffbd39;
}


.button1 {
  margin-top: 60px;
  border-radius: 4px;
  background-color: #e54941;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
 
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.contact {
  background-image: url(./assets/images/backgound.jpg);
  border-radius: 50px;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
}

textarea {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact h1 {
  color: white;
  font-size: 30px;
  margin: 20px;
}

.sathish218 {
  border-radius: 50%;
  height: 350px;
  width: 300px;
  margin-top: 30px;
}

.icons {
  color: black;
  font-size: 30px;

}

.icons i {
  color:black;
  margin: 25px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;

}
.icons i:hover{
  background-color: #6c0979;
  color: white;
  transition: 0.5s;
  
}

.contact-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-box h3 {
  color: white;
  font-size: 30px;
  margin: 20px;
}

.contact-box h2 {
  color: white;
  margin-left: 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;


}

.name {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.name i {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.mail {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.mail i {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.phone {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.phone i {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

form input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 25px;
 padding-left: 5px;

}
.project-head{
  color:white;
  text-align: center;
  margin: 30px;
  font-size: 30px;

}



.submit {
  width: fit-content;
  padding: 10px 30px;
  background-color: #e54941;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
}

footer {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  background-color: #0c1e2c;
  margin-top: 70px;
}



.skills {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;

}
.skills-p{
  display: flex;
  align-items: baseline;
  justify-content: center;
  
}
.skills-p::before,.skills-p::after{
  content:"";
  height: 3px;
  width: 30px;
  background-color: #FFFFFF;
 }


.outter {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  padding: 18px;
  box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.15);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: -5px -5px 10px 5px rgba(0, 0, 0, 0.15);
}

.circle1 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 473;
  stroke-dashoffset: 473;
  animation: anim1 5s linear infinite forwards;
}
.skills-p{
  font-size:23px ;
  width: 75%;
  margin: 0 auto;
  color: #fee5b5;
}
.skills-p2{
  font-size: 20px;
 margin: 0 auto;
  width: 70%;
  color: white;
  line-height: 1.5;
  margin-top: 20px;
}
.circle2 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 473;
  stroke-dashoffset: 473;
  animation: anim2 5s linear forwards infinite;
}
.circle3 {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 473;
  stroke-dashoffset: 473;
  animation: anim3 5s linear infinite forwards;
}

.relative{
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
.skill-icon{
  margin-top: 40px;
  text-align: center;
  border-radius: 10px;
 padding:40px 20px;
 background-color:#fee5b5;
 color: black;

 
}
.skill-icon h2{
  color: #0c1e2c;
}
.skill-icon i{
  font-size: 40px;
  color:#e54941;
 text-align: center;
}

.skills {
  display: flex;
  gap: 200px;
  color: #FFFFFF;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 200px;
}
.skill-2{
 margin-top: 70px;
}

@keyframes anim1 {
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes anim2 {
  100% {
    stroke-dashoffset: 260;
  }
}

@keyframes anim3 {
  100% {
    stroke-dashoffset:100;
  }
}
.skills-h2{
  color: white;
  font-size: 50px;
  justify-content: center;
  text-align: center;
}
.skills-h2{
  margin: 5px;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  text-align: center;
}
.projects-image h2{
  color:#e54941;
}
.projects-image{
  flex: 0 1 300px;
  background-color: beige;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(255,255,255,0.2);
}
.projects-image div,.projects-image div img{
  width: 100%;
  height: 300px;
  overflow: hidden;
  transition: all 1s;
}
.projects-image:hover img{
  height: 330px;
  object-fit: cover;
}
.projects-image div img{
  object-fit: cover;
}
.footer-all{
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  


}
.footer-text{
 width:51%;
 
}
.footer-text h2{
margin: 20px;
color: #fee5b5;
}

.footer-text p{
  text-align: justify;
}
.footer-icons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  


}
.icons2 i{
  margin:20px;
  color:black;
  background-color: #fee5b5;
  padding: 10px;
  border-radius: 5px;
}
.footer-icon1{
 align-items: center;
 background-color: aliceblue;
 padding: 70px;
 color: #0c1e2c;
 font-size: 40px;
 margin: 10px;
 border-radius: 5px;
 box-shadow: orange 15px 15px;

}
.footer-icon1 a{
  font-size: 20px;
  text-decoration: none;
  color: #0c1e2c;
}

.project-p{
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #ffbd39;
  
}
.project-p2{
  color: white;
  line-height: 1.5;
  width: 75%;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 40px;
  text-align: justify;
}
.project-p::before,.project-p::after{
  content:"";
  height: 3px;
  width: 30px;
  background-color: #FFFFFF;
 }
.footer-icon2{
  align-items: center;
  background-color: aliceblue;
  padding: 70px;
  color: #0c1e2c;
  font-size: 40px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: orange 15px 15px;
 }
 .footer-icon2 p{
  font-size: 20px;
 

 }
 .footer-end{
  margin: 30px;
  font-size: 20px;
 }
 .fa-angles-up{
  font-size: 30px;
  color: white;
  background-color: #e54941;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  z-index: 100;

  
 }






@media (max-width:786px){
  body {
    background-color: black;
    overflow-x: hidden;
  }
  
  header {
      background-color: rgba(55, 54, 53,0.5);
      position: sticky;
      top: 0;
      padding: 5px 10px;
      z-index: 10;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    
    }
    .logo{
      left:6%;
      top: 20px;
      width: 130px;
      align-self: flex-start;
    }

  .nav{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    display: none;
    transition: 0.5em;
  }
  .navbar{
    background-color: transparent;
  }
  .navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0;
    position:relative;
  
  }
  a::after{
    content: "";
    background-color: #FFFFFF;
    height: 1.5px;
    width: 0;
    position: absolute;
    left: 0px;
    bottom: -1px;
    transition: 0.5s;
  }
  a:hover:after{
    width: 100%;
    left:0px;
    
  
  }
  .nav-button{
    display: block;
    color: white;
    font-size: larger;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .nav-show{
    display: flex;

  }
  .h2 {
    font-size: 100px;
  }
  
  .div {
    display: flex;
    align-items: center;
  }
  
  .hi {
    color: white;
    display: flex;
    width: 90vw;
    margin: 0 auto;
    gap: 100px;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .img1 {
  
    width: 100%;
    margin-top: 50px;
    border-radius: 5px;
  
  
  }
  
  .h1 {
    font-size: 70px;
    width: 5px;
  
  
  }
  
  .img2 {
    height: 450px;
    width: 350px;
    border-radius: 5px;
  }
  
  .about-me {
    justify-content: space-evenly;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
  
  }
  
  .about-me h1 {
    font-size: 60px;
    text-decoration: underline white 2px;
  
  }
  
  .about-me p {
    width: 100%;
    font-size: 20px;
    margin: 10px;
  
  }
  
  .about-me h2 {
    font-size: 30px;
    color:#ffbd39;
    padding: 20px 0;
    stroke: white 1px;
    margin-left: 5px;
  
  }
  
  .button1 {
    border-radius: 4px;
    background-color: #e54941;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .contact {
    background-image: url(./assets/images/backgound.jpg);
    border-radius: 50px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
  }
  
  textarea {
    height: 80px;
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .contact h1 {
    color: white;
    font-size: 30px;
    margin: 20px;
  }
  
  .sathish218 {
    border-radius: 50%;
    height:300px;
    width: 300px;
    margin-top: 30px;
   margin: 0 auto;
  }
  
  .icons {
    color: black;
    font-size: 30px;
  
  }
  
  .icons i {
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  
  }
  
  .contact-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .contact-box h3 {
    color: white;
    font-size: 30px;
    margin: 20px;
  }
  
  .contact-box h2 {
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  
  
  }
  
  .name {
    display: flex;
    background-color: white;
    border-radius: 10px;
  }
  
  .name i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .mail {
    display: flex;
    background-color: white;
    border-radius: 10px;
  }
  
  .mail i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .phone {
    display: flex;
    background-color: white;
    border-radius: 10px;
  }
  
  .phone i {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  form input {
    
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
  
  
  }
  
  .submit {
    width: fit-content;
    padding: 10px 30px;
    background-color: #e54941;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 20px;
  }
  
  footer {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    background-color: #0c1e2c;
    margin-top: 30px;
  }
  
  
  
  .skills {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  
  }
  
  
  .outter {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    padding: 18px;
    box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.15);
  }
  
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: -5px -5px 10px 5px rgba(0, 0, 0, 0.15);
  }
  
  .circle1 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 473;
    stroke-dashoffset: 473;
    animation: anim1 2s linear infinite forwards;
  }
  .skills-p{
    color:#ffbd39;
    font-size:30px ;
    width: 90%;
    margin: 0 auto;
  }
  .circle2 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 473;
    stroke-dashoffset: 473;
    animation: anim2 2s linear infinite forwards;
  }
  .circle3 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 473;
    stroke-dashoffset: 473;
    animation: anim3 2s linear infinite forwards;
  }
  
  .relative{
    position: relative;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .skills {
    display: flex;
    gap: 100px;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  .skill-2{
   margin-top: 70px;
  }
  .footer-all{
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  
  
  }
  .footer-text{
   width:51%;
   width: 100%;
   
  }
  .footer-text h2{
  margin: 20px;
  }
  
  .footer-text p{
    text-align: justify;
   
  }
  .footer-icons{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
  
  
  }
  .icons2 i{
    margin:20px;
    color:black;
    background-color: #fee5b5;
    padding: 10px;
    border-radius: 5px;

  }
  .footer-icon1{
   align-items: center;
   background-color: aliceblue;
   padding: 70px;
   color: #0c1e2c;
   font-size: 40px;
   margin: 10px;
   border-radius: 5px;
   box-shadow: orange 15px 15px;
  
  }
  .footer-icon1 a{
    font-size: 20px;
    text-decoration: none;
    color: #0c1e2c;
  }
  .footer-icon2{
    align-items: center;
    background-color: aliceblue;
    padding: 50px;
    color: #0c1e2c;
    font-size: 40px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: orange 15px 15px;
  
   }
   .footer-icon2 p{
    font-size: 20px;
  
   }
   .footer-end{
    margin: 30px;
    font-size: 20px;
   }
  
  
  
  
  
  @keyframes anim1 {
    100% {
      stroke-dashoffset: 165;
    }
  }
  
  @keyframes anim2 {
    100% {
      stroke-dashoffset: 150;
    }
  }
  
  @keyframes anim3 {
    100% {
      stroke-dashoffset:100;
    }
  }
  .skills-h2{
    color: white;
    font-size: 40px;
    justify-content: center;
    text-align: center;
  }
  .skills-h2{
    margin: 10px;
  }
  
}